<%- include('common/header.ejs') %>
    <div class="introduce-main-wrap">
      <!-- 지도부분 -->
      <div class="content-container-introduce">
        <div id="location-map" class="introduce-location-map"></div>
      </div>
      <!-- 토글 슬라이드 부분 -->
      <div id="slideTarget" class="introduce-wrap introduce-content-wrap">
        <div id="slideUpButton" class="slideUP-button"></div>
        <h1>카테고리를 선택해주세요</h1>
        <!-- 탭메뉴 -->
        <div class="tabs">
          <input id="art" type="radio" name="tab_item" checked />
          <label class="tab_item tap-art" for="art">
            <p>예술과</p>
            <p>과학</p>
          </label>
          <input id="history" type="radio" name="tab_item" />
          <label class="tab_item tap-history" for="history">
            <p>역사와</p>
            <p>문화</p>
          </label>
          <input id="healing" type="radio" name="tab_item" />
          <label class="tab_item tap-healing" for="healing">
            <p>자연과</p>
            <p>휴식</p>
          </label>
          <input id="shopping" type="radio" name="tab_item" />
          <label class="tab_item tap-shopping" for="shopping">
            <p>관광과</p>
            <p>쇼핑</p>
          </label>
          <div class="tab_content" id="art_content">
            <div>
              <!-- Swiper -->
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <!-- 반복되는부분 -->
                  <% for (let i = 0; i < data.art.length; i++) { %> 
                    <% const latitude = data.art[i].latitude %> 
                    <% const longitude = data.art[i].longitude %>
                  <div class="swiper-slide">
                    <img src="<%= data.art[i].photo %>" alt="" />
                    <div class="introduce-swiper-text-wrap">
                      <h2><%= data.art[i].name %></h2>
                      <div class="introduce-link-wrap">
                        <div>내 코스 담기</div>
                        <!-- onclick 이벤트 핸들러에서 함수 호출 -->
                        <div onclick="tripLocation('<%= latitude %>', '<%= longitude %>')">위치 확인하기</div>
                        <div>
                          <a href="/detail">자세히보기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="art-introduce-text-wrap">
              <h2>[예술과 과학]</h2>
              <p>대구에서 느끼는 대구에만 있는 예술과 과학!</p>
              <p>대구 관광에 지역 특색을 뺄 수 없지! 특색 있는 예술과학 투어 즐겨보세요</p>
            </div>
          </div>
          <div class="tab_content" id="history_content">
            <div>
              <!-- Swiper -->
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <!-- 반복되는부분 -->
                  <% for (let i = 0; i < data.history.length; i++) { %> 
                    <% const latitude = data.history[i].latitude %>
                     <% const longitude = data.history[i].longitude %>
                  <div class="swiper-slide">
                    <img src="<%= data.history[i].photo %>" alt="" />
                    <div class="introduce-swiper-text-wrap">
                      <h2><%= data.history[i].name %></h2>
                      <div class="introduce-link-wrap">
                        <div>내 코스 담기</div>
                        <!-- onclick 이벤트 핸들러에서 함수 호출 -->
                        <div onclick="tripLocation('<%= latitude %>', '<%= longitude %>')">위치 확인하기</div>
                        <div>
                          <a href="/detail">자세히보기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="history-introduce-text-wrap">
              <h2>[역사와 문화]</h2>
              <p>대구는 사실 근대사의 도시라는 것을 알고계셨나요?</p>
              <p>대구에서 대구만의 문화를 즐겨보세요! 관광하기 좋은 곳 대구!</p>
            </div>
          </div>
          <div class="tab_content" id="healing_content">
            <div>
              <!-- Swiper -->
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <!-- 반복되는부분 -->
                  <% for (let i = 0; i < data.healing.length; i++) { %>
                     <% const latitude = data.healing[i].latitude %>
                      <% const longitude = data.healing[i].longitude %>
                  <div class="swiper-slide">
                    <img src="<%= data.healing[i].photo %>"  alt="" />
                    <div class="introduce-swiper-text-wrap">
                      <h2><%= data.healing[i].name %></h2>
                      <div class="introduce-link-wrap">
                        <div>내 코스 담기</div>
                        <!-- onclick 이벤트 핸들러에서 함수 호출 -->
                        <div onclick="tripLocation('<%= latitude %>', '<%= longitude %>')">위치 확인하기</div>
                        <div>
                          <a href="/detail">자세히보기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="healing-introduce-text-wrap">
              <h2>[자연과 휴식]</h2>
              <p>대구가 분지라는 건 모두가 아는 사실이죠?</p>
              <p>자연하면 대구를 빼놓을 수 없어요! 산과 하천, 못을 즐겨보세요!</p>
            </div>
          </div>
          <div class="tab_content" id="shopping_content">
            <div>
              <!-- Swiper -->
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <!-- 반복되는부분 -->
                  <% for (let i = 0; i < data.shopping.length; i++) { %>
                     <% const latitude = data.shopping[i].latitude %> 
                     <% const longitude = data.shopping[i].longitude %>
                  <div class="swiper-slide">
                    <img src="<%= data.shopping[i].photo %>" alt="" />
                    <div class="introduce-swiper-text-wrap">
                      <h2><%= data.shopping[i].name %></h2>
  
                      <div class="introduce-link-wrap">
                        <div>내 코스 담기</div>
                        <!-- onclick 이벤트 핸들러에서 함수 호출 -->
                        <div onclick="tripLocation('<%= latitude %>', '<%= longitude %>')">위치 확인하기</div>
                        <div>
                          <a href="/detail">자세히보기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="shopping-introduce-text-wrap">
              <h2>[관광과 쇼핑]</h2>
              <p>패션의 성지 대구! 쇼핑에 대구가 빠질 수는 없죠!</p>
              <p>가족. 친구, 연인 모두와 즐길 수 있는 장소가 가득한 곳 대구로 관광오세요!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('common/footer.ejs') %>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- 카카오맵 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=36b55f73185a63e716f9a576990e3a8b"></script>
    <script src="../js/introduce.js"></script>
  </body>
</html>
